<!doctype html>
{% extends "bootstrap/base.html" %}
<html>
<head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js" integrity="sha384-pjaaA8dDz/5BgdFUPX6M/9SUZv4d12SUPF0axWc+VRZkx5xU3daN+lYb49+Ax+Tl" crossorigin="anonymous"></script>
    <title>Tracking User Sentiment</title>

    <div class="container">
        <div class="navbar navbar-fixed-top">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link nav-btn" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-btn"
                       href="/sentiMap">Sentiment Details</a>
                </li>
                <!--<li class="nav-item">-->
                <!--<a class="nav-link nav-btn" href="/updatePart">Part-->
                <!--Updater</a>-->
                <!--</li>-->
                <!--<li class="nav-item">-->
                <!--<a class="nav-link nav-btn" href="/delete">Delete-->
                <!--Parts</a>-->
                <!--</li>-->
                <!--<li class="nav-item">-->
                <!--<a class="nav-link nav-btn"-->
                <!--href="/summary">Summary</a>-->
                <!--</li>-->
            </ul>
        </div>
    </div>
    {% endblock %}
</head>
<body>
<div id="content">{% block content %}{% endblock %}</div>
<div id="footer">
    {% block footer %}
    &copy; Sentiment Analysis by Ross Connole</a>.
    {% endblock %}
</div>
</body>
</html>